//colors
$white: #ffffff;
$black: #000000;
$dark-blue: #122659;
$grey: #F7FAFC;
$light-yellow: #FFD787;
$light-blue: #8DD9E5;
$pink: #FEB9CC;
$dark-grey: #677085;





//viewports
$tablet-width: 1199px;
$desktop-width: 1366px;
$mobile-width: 767px;