.button {
    display: inline-block;
    color: $dark-blue;
    background-color: $light-yellow;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    width: 166px;
    padding-top: 13px;
    padding-bottom: 15px;
    border-radius: 35px;
}