.main-nav {
    display:flex;
    min-width: 970px;
}


.main-nav__contacts {
    margin-left: auto;
}

.main-nav__tel {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: $dark-blue;
}